
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.container{
    max-width: 1200px;
   
    
}
.main-nav{
    display: flex;
    justify-content: space-between;
}
.nav-1 h3{
    font-weight: 700;
    font-size: 18px;
    color: #25282B;
    line-height: 180%;
}
.nav-2{
    display: flex;
    justify-content: space-between;
    gap: 48px;
    
}
.nav-2 h3{
    font-weight: 700;
    font-size: 18px;
    color: #25282B;
    line-height: 180%; 
}
.main-nav{
    position: absolute;
    top: 0;
    
width: 100%;
}
.whole-main{
    position: relative;
}
.details{
    padding-top: 54px;

}
.details h3{
    font-weight:700;
    font-size: 20px;
    color: #FDC435;    
}
.details h1{
    width: 538px;
    font-weight:800;
    color: #25282B; 
    font-size: 64px; 
    line-height: 120%;  
}
.details p{
    width: 486px;
    font-weight:400;
    font-size: 24px;
    color: #828282;
    line-height: 150%;    
}
.project-link{
    margin-top: 32px;
}
.project-link a{
    text-decoration: none;
    padding: 8px 24px;
    border: 1px solid #FDC435;
    background: #FDC435;
    border-radius: 8px;
    font-weight: 400p;
    font-size: 18px;
    color: #25282B;
}
.project-link a:hover{
background: none;
border: 1px solid #25282B;

}
/* ==============================projects start============================= */
.heading h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #25282B;
    text-align: center;
}
#projects{
    margin-top: 144px;
}
.first-part{
    margin-left: 222px;
    margin-top: 80px;
    width: 992px;
    background: #FFFFFF;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.project-part12 img{
border-top-right-radius: 24px;
border-bottom-right-radius: 24px;
}
.project-part11{
    margin-left: 50px;
    
}
.project-part13 img{
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    }
.project-part11 h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    margin-top: 147px;
    color: #25282B;
}
.project-part14 h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    margin-top: 147px;
    color: #25282B;
}
.project-part11 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #828282;
    width: 406px;
    margin-bottom: 24px;
}
.project-part14 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #828282;
    width: 406px;
    margin-bottom: 24px;
}
.project-part11 a{
    text-decoration: none;
    padding: 8px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #25282B;
    border: 1px solid #25282B;
    border-radius: 24px;
    
    
}
.project-part14 a{
    text-decoration: none;
    padding: 8px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #25282B;
    border: 1px solid #25282B;
    border-radius: 24px;
    
    
}

.project-part14{
    margin-left: 50px;
}
/* ================================footer start============================================ */
.footer-ic{
    text-align: center;
    margin-top: 149px;
    
}
.footer-ic .ic-2{
height: 48px;
width: 48px;
margin-left: 24px;
}
#footer p{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #828282;
    margin-top: 32px;
}